In [1]:
# 이 부분은 파이썬에서만 가능....
def sum_and_multiply(a,b):
    return a+b, a*b # 파이썬은 반환값 여러개 가능하다.

result = sum_and_multiply(10,20)

print(result)

res1, res2 = sum_and_multiply(10,20)
print(res1)
print(res2)
print(res1, res2)

(30, 200)
30
200
30 200

### 1. Module Configuration

In [2]:
import pandas as pd
from sklearn.svm import SVC

# 추가 모듈
from sklearn.model_selection import train_test_split

# 추가 모듈
from sklearn.metrics import accuracy_score

### 2. Data Loader

In [3]:
iris = pd.read_csv("../data/iris.csv")
iris

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

### 3. Data Split and Shuffle

In [6]:
label = iris["variety"]
feature = iris[["sepal.length","sepal.width","petal.length","petal.width"]]
feature
label

# Training | Test 데이터 분리 및 데이터 섞기
# train_test_split함수 반환값이 4개인 점과 반환되는 순서대로 받아줘야 한다!!!!
train_data, test_data, train_label, test_label = train_test_split(feature, label)

In [7]:
print(train_label)

32         Setosa
64     Versicolor
115     Virginica
91     Versicolor
143     Virginica
          ...
96     Versicolor
44         Setosa
121     Virginica
23         Setosa
139     Virginica
Name: variety, Length: 112, dtype: object

In [8]:
print(test_label)

81     Versicolor
58     Versicolor
129     Virginica
63     Versicolor
104     Virginica
11         Setosa
4          Setosa
106     Virginica
78     Versicolor
114     Virginica
98     Versicolor
16         Setosa
28         Setosa
120     Virginica
15         Setosa
53     Versicolor
101     Virginica
123     Virginica
95     Versicolor
107     Virginica
72     Versicolor
19         Setosa
136     Virginica
89     Versicolor
52     Versicolor
21         Setosa
93     Versicolor
90     Versicolor
103     Virginica
48         Setosa
60     Versicolor
109     Virginica
70     Versicolor
33         Setosa
141     Virginica
47         Setosa
83     Versicolor
38         Setosa
Name: variety, dtype: object

### 4. Model 생성 및 학습하기

In [9]:
model1 = SVC()
# 학습할 때는 전체데이터를 학습시키는 것이 아니라
# 학습용 모델 데이터만 적용해야 한다.
# 별다른 옵션을 사용하지 않으면 전체데이터의 75%가 학습용으로 빠진다.
model1.fit(train_data,train_label)

SVC()

### 5. 예측하기

In [10]:
pred = model1.predict(test_data)
print(pred)

['Versicolor' 'Versicolor' 'Virginica' 'Versicolor' 'Virginica' 'Setosa'
 'Setosa' 'Versicolor' 'Versicolor' 'Virginica' 'Versicolor' 'Setosa'
 'Setosa' 'Virginica' 'Setosa' 'Versicolor' 'Virginica' 'Virginica'
 'Versicolor' 'Virginica' 'Versicolor' 'Setosa' 'Virginica' 'Versicolor'
 'Versicolor' 'Setosa' 'Versicolor' 'Versicolor' 'Virginica' 'Setosa'
 'Versicolor' 'Virginica' 'Virginica' 'Setosa' 'Virginica' 'Setosa'
 'Virginica' 'Setosa']

In [11]:
print(test_label)

81     Versicolor
58     Versicolor
129     Virginica
63     Versicolor
104     Virginica
11         Setosa
4          Setosa
106     Virginica
78     Versicolor
114     Virginica
98     Versicolor
16         Setosa
28         Setosa
120     Virginica
15         Setosa
53     Versicolor
101     Virginica
123     Virginica
95     Versicolor
107     Virginica
72     Versicolor
19         Setosa
136     Virginica
89     Versicolor
52     Versicolor
21         Setosa
93     Versicolor
90     Versicolor
103     Virginica
48         Setosa
60     Versicolor
109     Virginica
70     Versicolor
33         Setosa
141     Virginica
47         Setosa
83     Versicolor
38         Setosa
Name: variety, dtype: object

In [13]:
# 예측한 값과 정답 사이의 정확도를 구해본다.

score = accuracy_score(test_label,pred)
score
'''
score가 0~1 사이의 값으로 나오기 때문에
100을 곱해주면 퍼센트 값을 알 수 있다.
'''

print(score*100)

92.10526315789474